body {
  margin: 0;
  padding: 0;
}

* {
box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: whitesmoke;
  padding: 0 50px;
}

header > .page-title {
  cursor: pointer;
  text-decoration: none;
  color: #555555;
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
}

main > .intro-section {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: powderblue;
  font-size: 40px;
  color: #555555;
  font-weight: bold;
  position: relative;
}

.intro-section > .btn-scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.main .content-box .content-text-bottom, main .content-box .content-text-top {
  width: 100%;
  height: 20%;
  padding: 0 4%;
  margin: 4% 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

body, main {
  background-color: whitesmoke;
  width: inherit;
}

body {
  height: auto;
}

.main {
  margin: 100px 0;
}

.main > .image-section {
  display: flex;
  background-color: whitesmoke;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main > .image-section > .image-frame {
  position: relative;
}

.main > .image-section > .image-frame > img {
  height: 400px;
  margin: 0 15px;
  visibility: visible;
}

.main > .image-section > .image-frame:hover > img {
  height: 400px;
  margin: 0 15px;
  visibility: hidden;
}

.main > .image-section > .image-frame > .hover-text {
  color: #555555;
  font-weight: bold;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.main > .image-section > .image-frame:hover > .hover-text {
  visibility: visible;
}

footer > .footer-bottom {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: powderblue;
}

footer > .footer-bottom > a {
  margin: 0 10px;
  cursor: pointer;
}
